#root {
  background-color: #f0d9d9;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-cen {
  justify-content: center;
  align-items: center;
}

.gap1 {
  gap: 1rem;
}

.gap6 {
  gap: 6rem;
}